qdrant_rag.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6e89b0d0-7baa-482f-ab69-f398b235ef44",
      "name": "When chat message received",
      "webhookId": "463c90f2-3cc1-4793-90c9-eabd2c289158"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $json.sessionId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "3db5d2fd-5536-489b-a20e-1ec78951dda1",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "uG30GG5W7hyNOWCZ",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "snowflake-arctic-embed:33m"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        192,
        192
      ],
      "id": "2a2b98a7-dc29-48e4-a3cb-248f938a07b6",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "OwpTDim2BUVrjehW",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        352,
        208
      ],
      "id": "d8196d94-7b2c-4e58-a63b-e858aa15ac2d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 256,
        "chunkOverlap": 25
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        448,
        416
      ],
      "id": "c91fa3b1-0821-410b-bcae-52bbc6614b56",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "Você é o 'DocuBot', um assistente de pesquisa profissional e amigável. Sua única tarefa é responder às perguntas do usuário usando exclusivamente o contexto e os documentos fornecidos. Se a resposta não estiver nos documentos, você DEVE dizer 'Desculpe, não encontrei essa informação nos meus arquivos.' Você NUNCA deve inventar respostas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        560,
        -80
      ],
      "id": "a1c5874a-bea7-4fa4-85ef-598a9e1db02d",
      "name": "AI Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        80
      ],
      "id": "dc0080e4-b26f-48fd-9e88-6fbd9eb4bce0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bnAtPWp77NcBAUpz",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        720,
        128
      ],
      "id": "560beb25-f273-499b-8ae4-107f08d56d3a",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        272
      ],
      "id": "165c2db2-b688-44a5-bdab-d8d2b5731890",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "bnAtPWp77NcBAUpz",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('When chat message received').item.json.sessionId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        656,
        336
      ],
      "id": "a643f2a4-a142-4769-a141-a4497b9ddb12",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "uG30GG5W7hyNOWCZ",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "snowflake-arctic-embed:33m"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        672,
        480
      ],
      "id": "82b010bf-08e2-4f75-8e56-cf85252597c5",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "OwpTDim2BUVrjehW",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45eef272-8b1d-4b03-a2c2-80d1aa4b11ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff22261d4ca59ced86950f2ae532ba36e9518a896b9124891becbb5f58e03fa0"
  },
  "id": "s92r2gp5WM5u8QuZ",
  "tags": []
}